<h1><%= @billboard.id ? 'Edit Billboard' : 'Create Billboard' %></h1>
<hr />
<%= form_for @billboard do |f| %>
    <%= f.label :music %>
    <%= f.text_field :music, required: true %>
    <%= f.submit %>

    <% end %>